In [1]:
print("hello world")

hello world

In [2]:
a = 5
b = 4
c = a + b
print("sum = ",c)

sum =  9

In [3]:
x= 3
print(x)
print(type(x))

3
<class 'int'>

In [4]:
#Variables

#Variables

In [5]:
x = 4

In [6]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     5
b          int     4
c          int     9
x          int     4

In [7]:
print(type(x))

<class 'int'>

In [8]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     5
b          int     4
c          int     9
x          int     4

In [9]:
x = 4.5

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          int      4
c          int      9
x          float    4.5

In [11]:
abcd = 554.54

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
abcd       float    554.54
b          int      4
c          int      9
x          float    4.5

In [13]:
a,b = 3, 4.5

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    554.54
b          float    4.5
c          int      9
x          float    4.5

In [15]:
r, n = 4, 5.4

In [16]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    554.54
b          float    4.5
c          int      9
n          float    5.4
r          int      4
x          float    4.5

In [17]:
del abcd

In [18]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          float    4.5
c          int      9
n          float    5.4
r          int      4
x          float    4.5

In [19]:
del a

In [20]:
%whos

Variable   Type     Data/Info
-----------------------------
b          float    4.5
c          int      9
n          float    5.4
r          int      4
x          float    4.5

In [21]:
del r, n

In [22]:
%whos

Variable   Type     Data/Info
-----------------------------
b          float    4.5
c          int      9
x          float    4.5

In [23]:
m = 4 + 5j

In [24]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          int        9
m          complex    (4+5j)
x          float      4.5

In [25]:
s = "hello how are you"

In [26]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          int        9
m          complex    (4+5j)
s          str        hello how are you
x          float      4.5

In [27]:
c = True

In [28]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          bool       True
m          complex    (4+5j)
s          str        hello how are you
x          float      4.5

#Operators

In [29]:
#Now We are going to talk about Opeators

# operators

In [30]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          bool       True
m          complex    (4+5j)
s          str        hello how are you
x          float      4.5

In [31]:
sum = b + x

In [32]:
print(sum)

9.0

In [33]:
print(sum)

9.0

In [34]:
print(type(sum))

<class 'float'>

In [35]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          bool       True
m          complex    (4+5j)
s          str        hello how are you
sum        float      9.0
x          float      4.5

In [36]:
(b + x)* sum

81.0

In [37]:
s1 = hello

NameError: name 'hello' is not defined

In [38]:
s2 =

SyntaxError: invalid syntax (393166327.py, line 1)

In [39]:
clear

In [40]:
s1 = "hello"
s2 = 'World'
s = s1 + s2 
print(s)
print(type(s))

helloWorld
<class 'str'>

In [41]:
_

81.0

In [42]:
%whos

Variable   Type       Data/Info
-------------------------------
b          float      4.5
c          bool       True
m          complex    (4+5j)
s          str        helloWorld
s1         str        hello
s2         str        World
sum        float      9.0
x          float      4.5

In [43]:
del sum, x, b, c

In [44]:
%whos

Variable   Type       Data/Info
-------------------------------
m          complex    (4+5j)
s          str        helloWorld
s1         str        hello
s2         str        World

In [45]:
del m, s, s1, s2

In [46]:
%whos

Interactive namespace is empty.

In [47]:
3x = 5

SyntaxError: invalid decimal literal (1671370663.py, line 1)

In [48]:
okay

NameError: name 'okay' is not defined

In [49]:
a = 3
b = 54

In [50]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     3
b          int     54

In [51]:
CamelCase = 4.5

In [52]:
%whos

Variable    Type     Data/Info
------------------------------
CamelCase   float    4.5
a           int      3
b           int      54

#bool

#Bool

In [53]:
x = True
y = True
z = False

In [54]:
%whos

Variable    Type     Data/Info
------------------------------
CamelCase   float    4.5
a           int      3
b           int      54
x           bool     True
y           bool     True
z           bool     False

In [55]:
print(x and y)

True

In [56]:
print(x or y)

True

In [57]:
print(x and z)

False

In [58]:
%whos

Variable    Type     Data/Info
------------------------------
CamelCase   float    4.5
a           int      3
b           int      54
x           bool     True
y           bool     True
z           bool     False

In [59]:
not(a)

False

In [60]:
not(b)

False

In [61]:
not(c)

NameError: name 'c' is not defined

In [62]:
not(z)

True

In [63]:
%whos

Variable    Type     Data/Info
------------------------------
CamelCase   float    4.5
a           int      3
b           int      54
x           bool     True
y           bool     True
z           bool     False

In [64]:
(a and b) or (c and d)

54

In [65]:
(x and y) or (y and z)

True

In [66]:
not((a and b) or (c and d))

False

In [67]:
print(a > b)

False

In [68]:
%whos

Variable    Type     Data/Info
------------------------------
CamelCase   float    4.5
a           int      3
b           int      54
x           bool     True
y           bool     True
z           bool     False

#Comparisions

In [70]:
print(3 >4)

False

The result of comparisions operators will be i boolean

In [71]:
3===.3.0

SyntaxError: invalid syntax (2563063817.py, line 1)

In [72]:
3 == 3.0

True

In [73]:
x = 5
y = 8
z = -3

In [74]:
(x<y) and (z<y)

True

In [75]:
False and False and True

False

In [76]:
False and False or True

True

In [77]:
(True and True) or (False and True)

True

In [78]:
print(not(2!=3) and True) or (False and True)

False

False

#Functions in python

In [1]:
%whos

Interactive namespace is empty.

In [2]:
round(4.5)

4

In [3]:
round(7.9)

8

In [4]:
print(round(5.6))

6

In [5]:
print('A')

A

In [6]:
print(round(4.55, 3))

4.55

In [7]:
print(round(5.67754,4))

5.6775

In [8]:
print(round(4.556))

5

In [9]:
print(round(4.345))

4

In [10]:
print(round(4.5567,2))

4.56

In [11]:
print(round(4.555667, 4))

4.5557

In [12]:
divmod(34,3)

(11, 1)

In [15]:
G = divmod(34,10)

In [16]:
g = divmod(6, 3)

In [17]:
print(g)

(2, 0)

In [18]:
print(type(g))

<class 'tuple'>

In [19]:
34//9

3

In [20]:
34%9

7

In [21]:
print(isinstance(1, int))

True

In [22]:
print(isinstance(2.3, int))

False

In [23]:
print(isinstance(4.5, float))

True

In [24]:
print(isinstance(4.5, str))

False

In [25]:
print(isinstance(3.4, (float, int)))

True

In [26]:
print(isinstance(2+4j, (int, float,str, complex)))

True

In [27]:
print(4**2)

16

In [28]:
power(2,4)

NameError: name 'power' is not defined

In [29]:
pow(2,4)

16

In [30]:
2**4

16

In [31]:
pow(2,4,7)

2

In [32]:
input("Enter something")

Enter somethingAshmita gurung

'Ashmita gurung'

In [33]:
x = input("Enter a number")

Enter a number34

In [34]:
type(x)

str

In [35]:
x = int(x)

In [36]:
print(type(x))

<class 'int'>

In [37]:
%whos

Variable   Type     Data/Info
-----------------------------
G          tuple    n=2
g          tuple    n=2
x          int      34

In [38]:
print(x -8)

26

In [39]:
a = float(input('Enter a real number:'))

Enter a real number:4.5

In [40]:
print(type(a))

<class 'str'>

In [41]:
v = float(input("enter a real number:"))

enter a real number:abc

ValueError: could not convert string to float: 'abc'

In [42]:
pow?

In [43]:
round?

In [44]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [45]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

# Functions

In [1]:
def printSuccess():
    print("i am done")
    print("Send me another task")

In [2]:
printSuccess()

i am done
Send me another task

In [4]:
4+4

8

In [5]:
printSuccess()

i am done
Send me another task

In [6]:
def printSuccess2():
    '''documet string - this function is doing nothing except printing a message.
    That message is "hello". '''
    print("hello")

In [7]:
printSuccess2()

hello

In [8]:
printSuccess()

i am done
Send me another task

In [12]:
printSuccess??

In [13]:
len??

In [14]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    documet string - this function is doing nothing except printing a message.
    That message is "hello".

In [15]:
%whos

Variable        Type        Data/Info
-------------------------------------
printSuccess    function    <function printSuccess at 0x000001D4A26FF600>
printSuccess2   function    <function printSuccess2 at 0x000001D4A26FEA20>

# functions (input arguments)

In [17]:
def printMessage(msg):
    '''document string'''
    print(msg)

In [20]:
def printMsg(msg):
    '''the function prints the message supplied by the user or 
    prints that msg is not in the form of string'''
    if isinstance(msg, 'str'):
        print(msg)
    else:
        print("Your input argument is not a string")
        print("here is the type of what you have supplied", type(msg))

In [21]:
help(printMessage)?

SyntaxError: invalid syntax (591209839.py, line 1)

In [22]:
printMsg("This is the message")

NameError: name 'printMsg' is not defined

In [25]:
printMsg("This is the message")

NameError: name 'printMsg' is not defined

In [24]:
y = 'hello there'
printMsg(y)

NameError: name 'printMsg' is not defined

In [27]:
def mypow(a, b):
    """this function computes power just like built in pow function
    """
    
    c = a**b
    print(c)

In [29]:
mypow?

In [30]:
mypow(3,4)

81

In [31]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int, float)):
        print((a+b+c)**2)
    else:
        print("Error: the input arguments are not of the expectde types")

In [32]:
checkArgs(3,4,5)

144

In [33]:
checkArgs(3,4,"G")

Error: the input arguments are not of the expectde types

3checkArgs(2,3,6)

# Functions (Order of input arguments)

In [36]:
def f(a,b,c):
    print("A is :",a)
    print("B is :", b)
    print("c is :",c)

In [38]:
f(2,3,"Game")

A is : 2
B is : 3
c is : Game