Day3 of Python

Functions , Recursion , Lambda Functions

Functions- A function is a block of code that performs a specific tasks. You can pass parameters into a function. It helps us to make our code more organized and manageable

In [1]:
# def my_function():
#           #statements

Function Definition

Function Call

my_function()

In [2]:
def add():
  a = 10
  b =20
  print(a+b)
add()

30

Return statement in Python function
- The function return statement return the specified value or data item to the caller.

In [3]:
# return [value/expression]

Arguments in python function
<!--
def my_function(arg1,arg2,arg3....argn):
          #statements
my_function(arg1,arg2,arg3....argn) -->

In [4]:
#Function along Parameter
def add(a,b):
  return a + b
x = add(8,7)
print(x)

15

In [5]:
#User defined function
def hello():
  print('hello world')
hello()   #function calling

hello world

In [6]:
#Function return type
def find_square(num):
    result = num * num
    return result

#calling function
square = find_square(10)

print('square',square)

square 100

Type of Function

1. Default Arguments

In [8]:
def add_numbers(a = 70, b = 40):
  sum = a + b
  print('sum', sum)

#two arguments
add_numbers(3, 5)

#three arguments
add_numbers()

sum 8
sum 110

2. Keyboard Arguments

In [10]:
def show(first_name, last_name):
  print("first name:", first_name)
  print("Last name:", last_name)

show(last_name = "Gurung", first_name = "Ashmita")

first name: Ashmita
Last name: Gurung

3. Positional Arguments

In [12]:
def prints(age, name):
  print(age, name)

prints("Ashmita",21)
prints(21,"Ashmita")

Ashmita 21
21 Ashmita

4. Arbitraty Arguments

In [15]:
#find sum of multiple numbers
def find_sum(*numbers):
  result = 0
  for num in numbers:
    result = result + num
  print("Sum = ", result)

find_sum(1, 2, 4)

Sum =  7

**Python Recursion**
Recursion is the process of defining something in terms of itself.

In [16]:
def factorial(x):
  if x==1:
    return 1
  else:
    return (x*factorial(x-1))

x = int(input("enter the num:"))
print("The factorial is ", factorial(x))

enter the num:4
The factorial is  24

In [19]:
#Python Recursive pattern

def row(n):
  if n<1:
    return
  print("*",end=" ")
  row(n-1)

def pattern(n):
  if n<1:
    return
  row(n)
  print('')
  pattern(n-1)

n = 10
pattern(n)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

**Modules**
There are two types of modules:
1. Built-in Modules
2. User-defined Modules

MATH Function

In [20]:
import math

#Calculate the square root of a number

num = 40
sqrt_num = math.sqrt(num)
print(f"The square root of {num} is {sqrt_num}")

The square root of 40 is 6.324555320336759

In [21]:
# Calculate the factorial of a number

num = 3
fact_num = math.factorial(num)
print(f"The factorial of a {num} is {fact_num}")

The factorial of a 3 is 6

In [22]:
#Calculate the value of pi

pi_value = math.pi
print(f"The value of pi is approximately {pi_value}")

The value of pi is approximately 3.141592653589793

In [23]:
#Calculate the sine of an angle in radians

angle_rad = math.radians(30)   #Convert 30 degrees to radians
sin_val = math.sin(angle_rad)
print(f"The sine of 30 degrees is {sin_val}")

The sine of 30 degrees is 0.49999999999999994

In [24]:
# Calculate the power of a number

base = 4
exponent = 3
power_result = math.pow(base, exponent)
print(f"{base} raised to the power of {exponent} is {power_result}")

4 raised to the power of 3 is 64.0

DateTime Function

In [25]:
import datetime

#Get the current date and time
current_datetime = datetime.datetime.now()
print(f"current Date and time: {current_datetime}")

current Date and time: 2024-04-08 02:24:32.787117

In [26]:
# Get the current date

current_date = datetime.date.today()
print(f"Current Date: {current_date}")

Current Date: 2024-04-08

In [27]:
# Create a specific date
specific_date = datetime.date(2022, 4, 20)
print(f"Specific Date: {specific_date}")

Specific Date: 2022-04-20

In [28]:
# Access individual components of a datetime object

year = current_datetime.year
month = current_datetime.month
day = current_datetime.day
hour = current_datetime.hour
minute = current_datetime.minute
second = current_datetime.second

User Defined Fucntion

In [29]:
num1 = int(input("Enter the first num: "))
num2 = int(input("Enter the second num: "))

print("Addition", num1 + num2)
print("Subtraction", num1 - num2)
print("Multiplication", num1 * num2)
print("Division", num1 / num2)

Enter the first num: 50
Enter the second num: 20
Addition 70
Subtraction 30
Multiplication 1000
Division 2.5

In [33]:
import random

#Generate a random integer between 1 and 10 (inclusive)

random_num = random.randint(1, 10)
print("Random Number", random_num)

#Generate a random float between 1 and 10 (inclusive)

random_float = random.random()
print("Random float", random_float)

Random Number 7
Random float 0.6350750534086814

In [35]:
import json

#Serialize Python dictionary to JSON
data = {"name" : "Ashmita","age" : 21}
json_data = json.dumps(data)
print("JSON Data:", json_data)

JSON Data: {"name": "Ashmita", "age": 21}

Variable Scope

In [38]:
n, m = 10, 20
print(n, m)

def func(n):
  a = 10
  global b
  b = 15
  print(a, n, b)
  print(m)

func(n)
print(n, m)

10 20
10 10 15
20
10 20

Lambda Fucntions

- A lambda functions is a small anonymous functions.
- A lambda function can take any arguments, but can only have one expression.

In [ ]:
#Syntax

lambda arguments : expression
#The expressions is executed and the result is returned.

In [39]:

x = lambda a: a + 10
print(x(5))

15

In [40]:
x = lambda a, b: a * b
print(x(5, 6))

30

**Why Use Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [41]:
def my_function(n):
  return lambda a : a *n

In [42]:
def my_function(n):
  return lambda a: a * n

mydoubler = my_function(5)

print(mydoubler(11))

55

In [43]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [44]:
sum = lambda a, b: a + b

print(sum(1, 2))
print(sum(4, 5))

3
9

In [50]:
p = float(input('enter principle:'))
t = float(input("Enter time:"))/100.0
r = float(input("enter rate:"))

A = lambda p,t,r : p*((1+r)**t)
A

enter principle:3
Enter time:5
enter rate:7

In [51]:
print(A(p,t,r))
A=1.0
B=6.0
C=-5.0
p= lambda a,b,c : (-b+((b*b-4*a*c)**(1/2)))/(2*a)
r= lambda a,b,c : (-b-((b*b-4*a*c)**(1/2)))/(2*a)
print('{:.3f} {:.3f}'.format(p(A,B,C),r(A,B,C)))

3.3287084162035354
0.742 -6.742