# Data Manipuation by Ashmita Gurung

In [1]:
import pandas as pd
import numpy as np

In [3]:
array = np.array([1, 2, 3, 4, 5, 6])
print(array)

[1 2 3 4 5 6]

# Advanced Indexing and Selection

In [7]:
import pandas as pd

data = {
    'A': [1, 2, 3, 4, 5, 6],
    'B': [7, 8, 9, 10, 11, 12],
    'C': [13, 14, 15, 16, 17, 18]
}
index = pd.MultiIndex.from_tuples([('X', 2020), ('X', 2021), ('Y', 2020), ('Y', 2021), ('Z', 2020), ('Z', 2021)], names=['City', 'Year'])
df = pd.DataFrame(data, index=index)

print(df['A']['X'])

Year
2020    1
2021    2
Name: A, dtype: int64

Indexing and Slicing with loc and iloc

In [9]:
# Accessing DataFrame Elements using labeled and integer-based indexing

# Using loc[] for labeled indexing
print(df.loc[('X', 2020), 'A'])

# Using iloc[] for integer-based indexing
print(df.iloc[0, 1])

1
7

Boolean Indexing and Filtering

In [10]:
# Selecting data from a DataFrame based on specified conditions.


# Boolean indexing to filter rows with 'B' values greater than 9
filtered_df = df[df['B'] > 9]
print(filtered_df)

           A   B   C
City Year
Y    2021  4  10  16
Z    2020  5  11  17
     2021  6  12  18

# Combining DataFrames

**Merging and combining DataFrames with merge() and join():**



*  Combining DataFrames based on common columns.
*  inner Join: Only common records will be displayed from the both the table and their matching values
*   left : All records from the first table will be displayed and matching records from the right table and if there is no matching data null values will be displayed

*  full : All records from the both tables will be displayed and matchign data and if matching data is not available null will be displayed
*  right : All records from the second
table will be displayed and matching records from the right table and if there is no matching data null values will be displayed

In [11]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

#Merging based on ID

merged_df = pd.merge(df1, df2, on='ID', how = 'inner')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

Concatenating DataFrame using concat():

In [12]:
# Combinig DataFrames along a specified axis(rows and columns).

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

#Concatenate along rows
concatenated_df = pd.concat([df1, df2])
print(concatenated_df)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

# Data Manipulation

Filtering and subsetting data based on conditions

In [13]:
d = {'id':[1,2,3],'name':['F','N','C'],'Age':[22,26,38],'City':['Kathmandu','Pokhara','Okhaldhunga']}
df = pd.DataFrame(d)

# Filter rows where column 'Age' is greater than 25
filtered_data = df[df['Age'] > 25]
print(filtered_data)

   id name  Age         City
1   2    N   26      Pokhara
2   3    C   38  Okhaldhunga

** Sorting and Ranking Data**
> Ordering data based on column values and assigning ranks to data elements.

In [14]:
# Sorting DataFrame based on 'Age' in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

print(df)

   id name  Age         City
0   1    F   22    Kathmandu
1   2    N   26      Pokhara
2   3    C   38  Okhaldhunga

In [15]:
# Ranking 'Age' within the DataFrame
df['Rank'] = df['Age'].rank(ascending=False)
print(df)

   id name  Age         City  Rank
0   1    F   22    Kathmandu   3.0
1   2    N   26      Pokhara   2.0
2   3    C   38  Okhaldhunga   1.0

# Data Aggregation and Grouping

**Grouping Data using groupby()**
> Splitting data into groups based on one or more categorical variables.

In [16]:
# Creating a DataFrame
data = {
    'City': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [100, 120, 80, 150, 200, 250]
}
df = pd.DataFrame(data)

# Grouping data by 'City'
grouped_df = df.groupby('City')

for i in grouped_df:
    print(i)

('A',   City  Sales
0    A    100
2    A     80
4    A    200)
('B',   City  Sales
1    B    120
3    B    150
5    B    250)