# Python Basic by Ashmita Gurung

Introduction to Python

In [1]:
print("Hello World!")

Hello World!

In [5]:
print('Hello, I am learning Python for Data Science')

Hello, I am learning Python for Data Science

Variables


In Python, variables are used to store data values. They act as containers that hold information which can be accessed and manipulated throughout the program.
Variable names can consist of letters (a-z, A-Z), digits (0-9), and underscores (_). They cannot start with a digit.
Variable names are case-sensitive, meaning myVariable, MyVariable, and myvariable are considered different variables.
Variables are assigned values using the = operator.

Data Types

Python is dynamically typed, which means you don't need to explicitly declare the data type of a variable. 
Common data types include integers (int), floating-point numbers (float), strings (str), booleans (bool), lists (list), tuples (tuple), dictionaries (dict), etc.

In [5]:
type("hello")

str

In [6]:
type(345)

int

In [7]:
type(4.5)

float

In [8]:
type(True)

bool

In [9]:
type('Hello + 123')

str

In [11]:
x = 10
y = "Ashmita Gurung"
z = 34.4
x,y,z

(10, 'Ashmita Gurung', 34.4)

In [16]:
student_name = "Ashmita"

In [17]:
type(student_name)

str

In [18]:
print("Student name is", student_name)

Student name is Ashmita

Operators

102 + 37 #Add two numbers with +
102 - 37 # Subtract a number with -
4 * 6 # Multiply two numbers with *
22 / 7 # Divide a number by another with /
22 // 7 # Integer divide a number with //
3 ** 4 # Raise to the power with **
22 % 7 # Returns 1 # Get the remainder  after division with %

Assignment Operators

a = 5 # Assign a value to a
x[0] =1 # Change the value of an item in a list

Numeric Comparisions Operators

3 == 3 # Test for equality with ==
3 != 3 # Test for inequality with !=
3 > 1 # Test greater than with >
3 >= 3 # Test greater than or equal to with >=
3 < 4 # Test less than with <
3 <= 4 # Test less than or equal to with <=

Indexing

The position of every elements placed in the string starts from 0th position ans step by step it ends at length-1 position

List is ordered,indexed,mutable and most flexible and dynamic collection of elements in python.

In [ ]:
list.index(element)   #index method

In [ ]:
list.append(element)  #append method

In [ ]:
list.extend(iterable)   #extend method
list.insert(position, element)  #insert method
list.pop(position)    #pop method
list.remove(element)   #remove list
list.count(value)     #count method
list.reverse()     #reverse method

Logical Operators

~(2 == 2) # Logical NOT with ~
(1 != 1) & (1 < 1) # Logical AND with &
(1 >= 1) | (1 < 1) # Logical OR with |
(1 != 1) ^ (1 < 1) # Logical XOR with ^

List functions and methods

In [21]:
#Creating list with []
x = [1, 2, 3]
x

[1, 2, 3]

# Return a sorted copy of the list x
sorted(x) # Returns [1, 2, 3]

# Sort the list in-place (replaces x)
x.sort() # Returns None

# Reverse the order of elements in x
reversed(x) # Returns [2, 3, 1]

# Reverse the list in-place
x.reversed() # Returns None

# Count the number of element 2 in the list
x.count(2)

Selecting List Elements

# Define the list 
x = ['a', 'b', 'c', 'd', 'e']

# Select the 0th element in the list
x[0] # 'a'

# Select the last element in the list
x[-1] # 'e'

# Select 1st (inclusive) to 3rd (exclusive)
x[1:3] # ['b', 'c']

# Select the 2nd to the end
x[2:] # ['c', 'd', 'e']

# Select 0th to 3rd (exclusive)
x[:3] # ['a', 'b', 'c']

Slicing (String Slicing)

Positive Index : 0 ,Negative Index : -1 .String slicing : string[start:Stop:Step] .it stop at stop -1 index .default start index : 0 ,default stop index : last index ,default step : 1

Concatenate Lists

# Define the list x and y  
x = [1, 3, 6] 
y = [10, 15, 21]

# Concatenate lists with +
x + y # [1, 3, 6, 10, 15, 21]

# Repeat list n times with *
3 * x # [1, 3, 6, 1, 3, 6, 1, 3, 6]

Dictionaries

# Create a dictionary with {}
{'a': 1, 'b': 4, 'c': 9}

# Define the dictionary
a = {'a': 1, 'b': 2, 'c': 3}

# Get the keys
x.keys() # dict_keys(['a', 'b', 'c'])

# Get  the values
x.values() # dict_values([1, 2, 3])

# Get a value from a dictionary by specifying the key
x['a'] # 1

Sets

Sets are unordered collections of unique elements. They are defined using curly braces {}.
Sets are mutable, meaning you can add or remove elements from a set after its creation.

# Creating a set
my_set = {1, 2, 3, 4, 5}

# Adding elements to a set
my_set.add(6)
my_set.add(2)  # This will not add 2 again as it's already in the set

# Removing elements from a set
my_set.remove(3)

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

Tuple

Tuples are ordered collections of elements, and they are defined using parentheses ().
Tuples can contain duplicate elements, and they are immutable, meaning once a tuple is created, you cannot modify its elements.

# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements of a tuple
print(my_tuple[0])  # Output: 1
print(my_tuple[2])  # Output: 3

# Tuples are immutable - this will raise an error
# my_tuple[0] = 10